.App {
  text-align: center;
}
.item-container {
  margin: 30px auto 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.item-page {
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  width: 275px;
  margin: 15px;
  padding: 10px;
  height: 350px;
}
.ul-category {
  display: flex;
  justify-content: space-around;
  max-width: 640px;
  margin: 0 auto;
}

.ul-category li {
  list-style: none;
  display: flex;
  align-items: center;
}

.ul-category li a {
  font-family: Verdana;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.7em 1em;
  border-radius: 0.5em;
}
.ul-category li a:hover {
  background-color: #0a0b0a;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 112, 30, 0.2);
}
.home-welcome-pic {
  background-image: url("../public/austin-distel-4r72LPFh4Ik-unsplash.jpg");
  padding: 20px 100px 180px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-vision-mission * {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  animation: fadeIn 5s;
  text-shadow: 0 0 10px rgb(54, 51, 51);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h5 {
  font-size: 2.5em;
  font-weight: 900;
  padding-top: 100px;
}
strong {
  text-decoration: underline;
}
.col-12 {
  margin-bottom: 30px;
}

.home-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-pic1 {
  background-image: url("https://i.pinimg.com/736x/7a/6d/f4/7a6df4793e6f8998f841f09b5b8f4f17.jpg");
  position: relative;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 240px 340px 50px 100px;
}
.home-pic2 {
  background-image: url("https://www.newgenapps.com/hubfs/Orange%20E-Commerce%20Button%20on%20Computer%20Keyboard.%20Internet%20Concept.-1.jpeg");
  position: relative;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 240px 340px 50px 100px;
}

img {
  object-fit: cover;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Verdana;
  text-shadow: 0 0 10px rgb(54, 51, 51);
}
.content Link {
  color: white;
  font-family: Verdana;
  text-shadow: 0 0 10px rgb(54, 51, 51);
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.home-pic1:hover .overlay {
  background-color: rgba(125, 117, 117, 0.2);
}
.home-pic2:hover .overlay {
  background-color: rgba(125, 117, 117, 0.2);
}
.item-name {
  color: black;
  text-decoration: none;
}
.item-detail {
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 15px;
  padding: 10px;
  height: 500px;
  display: flex;
  width: 1000px;
  justify-content: flex-start;
}
.item-detail-container {
  display: flex;
  justify-content: center;
}
.description {
  display: flex;
}
.description-container {
  display: flex;
  width: 500px;
  justify-content: center;
}
p {
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 15px;
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  color: black;

  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: black;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) .footer-fb {
  color: #4267b2;
}
.wrapper .button:nth-child(2) .footer-github {
  color: black;
}
.wrapper .button:nth-child(3) .footer-linkedin {
  color: #1da1f2;
}
.wrapper .button:nth-child(4) .footer-codepen {
  color: #333;
}
.wrapper .button:nth-child(5) .footer-slack {
  color: #ff0000;
}
#sell-container {
  border-radius: 50px;
  box-shadow: 10px 30px 30px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
#sell-container label {
  color: black;
  display: flex;
}

.disable:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.about-container {
  padding: 200px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.about-text {
  margin-top: -150px;
  margin-left: -100px;
}
.about-text h2 {
  font-family: "greycliff-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #535353;
  font-size: 2.8em;
  letter-spacing: 0.05em;
  margin-bottom: 0.25em;
}
.about-text span {
  font-family: "greycliff", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #535353;
  font-size: 1.3em;
  letter-spacing: 0.08em;
  line-height: 2em;
}
.about-pic {
  padding: 100px;
  margin-top: -300px;
  margin-right: -200px;
}
.about-pic img {
  width: 100%;
  max-width: 3000px;
  display: inline-block;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.mt-5 {
  margin-top: 0.5rem !important;
}
.item-detail img {
  width: 100%;
  max-width: 200px;
}
.item-page img {
  width: 100%;
  max-width: 200px;
}
.description p {
  padding-top: 100px;
  padding-right: 50px;
}
